<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About my new desire</title>
</head>
<body>
<b> this is a new thing that i am trying, it's not a big thing.
    But I really want to learn something awesome and i think django is.<br />
    This is my first work which generally contains what I saw nick typing.
    although, I think I understand what's going on but still I still have a fear inside me,
    cause last semester was a waste and it was not supposed to be.<br />
    But here we are ready to strike and this part of life is no different,
    it's just that this time in double time I need 2-3 hits.
</b>
<br /><br /><br />
<a href = "{% url 'home' %}">Back to Start</a>
</body>
</html>